<div class="top-border"><%= image_tag('border.png', :size =>'1100x5') %></div>
<div class="top-img"><%= image_tag('concept2.png', :size =>'1100x150') %></div>
<div class="link_bar">
  <%= link_to "top", hostuser_homes_top_path %>
  <span>>></span>
  <%= link_to "予約カレンダー(管理者)",hostuser_reservations_path %>
</div>
<div id="calendar"></dsiv>