// /*
// * This is a manifest file that'll be compiled into application.css, which will include all the files
// * listed below.
// *
// * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
// * vendor/assets/stylesheets directory can be referenced here using a relative path.
// *
// * You're free to add application-wide styles to this file and they'll appear at the bottom of the
// * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
// * files in this directory. Styles in this file should be added after the last require_* statement.
// * It is generally better to create a new file per style scope.
// *
// *= require_tree .
// *= require_self
// *= require fullcalendar
// */


@import "bootstrap";
@import "tempusdominus-bootstrap-4.css";
@import "slick-theme";
@import "slick";
// color: #656565;
// #BB925A

// 全体
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fbfaf5;
  font-family: 'Hannotate TC', 'Avenir', YuGothic, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}
* a {
  text-decoration: none;
  cursor: pointer;
}
* a:hover {
  text-decoration: none;
}

* ul {
  list-style: none;
}
.container-fluid {
  padding: 10px 50px;
}
.link_bar a {
  color: #656565;
}
.link_bar a:hover {
  opacity: 0.7;
}
.link_bar span {
  color: #BB925A;
}


// signup画面
.img-input  input{
  height: 50px;
}
.img-input img {
  margin-bottom: 10px;
}
.new-profile-img {
  border: 2px solid #656565;  /* 枠線(=円形でも記述は) */
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 200px;  /* 縦横を同じ値にする */
  height: 200px;  /* 縦横を同じ値にする */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
  display: inline-block;
  margin-bottom: 10px;
}
.enduser-action input {
  padding: 0 5px;
  margin: 10px 0;
}
.enduser-new{
  color: #BB925A;
  padding: 5px 0;
}
.enduser-new:hover{
  color: #BB925A;
  opacity: 0.7;
}

//ヘッダー
header {
  width: 100%;
  height: 180px;
  margin: 0;
}
header a {
  color: #BB925A;
}
header a:hover {
  color: #BB925A;
  opacity: 0.7;
}
.header-top {
  display: flex;
}
.site-title {
  display: inline-block;
}
// sns ボタン
.sns-btn {
  display: flex;
  position: absolute;
  right: 100px;
  padding-top: 10px;
  margin: 0;
}
.sns-btn  li {
  font-size: 18px;
  padding: 0 20px;
}
// listボタン
.list-btn {
  margin: 0;
  display: flex;
}
.list-btn  li {
  text-align: center;
  width: 100%;
  font-size: 20px;
}
.list-btn a {
  display: inline-block;
  margin-top: 50px;
  padding-bottom: 20px;
}
.list-btn a:hover {
  border-bottom: solid 5px #8fbc8f;
}

// 各ページのトップにある
.top-img {
  display: block;
  margin-bottom: 0;
}
.link_bar {
  margin-bottom: 15px;
}

// フッター
footer {
  width: 1200px;
  background-color: #9d896c;
  height: 140px;
  margin: 0 auto;
  text-align: center;
}
footer a {
  color: #fff;
  opacity: 0.8;
}
footer a:hover {
  color: #fff;
  opacity: 0.5;
}
// listボタン
.footer-list-btn {
  margin: 0;
  display: flex;
}
.footer-list-btn  li {
  background-color: #9d896c;
  text-align: center;
  width: 100%;
  font-size: 10px;
}
.footer-list-btn a {
  display: inline-block;
  padding: 0 10px;
  margin-top: 15px;
  border-right: solid 1px #FFF;
  border-left: solid 1px #FFF;
}
// sns ボタン
.footer-sns-btn {
  background-color: #9d896c;
  display: flex;
  position: absolute;
  right: 555px;
  margin: 0;
}
.footer-sns-btn  li {
  background-color: #9d896c;
  font-size: 18px;
  padding: 0 20px;
}
.footer-middle p{
  margin-top: 10px;
  background-color: #9d896c;
  color: #fff;
}
.footer-middle {
  marign: 0;
}
.footer-middle > p {
  font-size: 13px;
  margin-bottom: 3px;
}
.footer-middle-media428 {
  display: none;
}
.footer-sns-btn > li {
  font-size: 15px;
  margin-bottom: 3px;
}
.copy-right > p {
  font-size: 10.5px;
  margin: 3px 0;
}
.copy-right {
  margin-top: 30px;
}


// 画像スライダー
.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "●" !important;
      font-size: 12px !important;
      color: rgb(60, 60, 60) !important;
    }
  }
}
.d {
  margin: 10px 0 80px 0;
}

// ログイン時のゲストログイン
#sessions-new {
  background-color: #fbfaf5;
  margin: 0 auto;
}
#sessions-new > .bottom-border {
  margin-left: 30px;
}
.hostuser-login {
  color: #BB925A;
  margin-bottom: 10px;
}
.hostuser-login:hover {
  color: #BB925A;
  opacity: 0.7;
}
.hostuser-login-new-btn {
  padding: 0 10px;
}
.guest-login-btn a:hover {
  opacity: 0.7;
}
.hostuser-login-btn {
  background-color: #9d896c;
  font-size: 11px;
  margin-top: 7px;
}
.footer-list-btn-media428 {
  display: none;
}

/*ハンバーガーボタン*/
.hamburger {
  display : none;
  position: fixed;
  z-index : 3;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span{
  background :#656565;
}
.hamburger.active span:nth-child(1) {
  -webkit-transform: translateY(6px);
  -moz-transform   : translateY(6px);
  transform        : translateY(6px);
}
.hamburger.active span:nth-child(2){
-webkit-transform: translateY(-4px);
  -moz-transform   : translateY(-4px);
  transform        : translateY(-4px);
}

.hamburger.active span:nth-child(3) {
  -webkit-transform: translateY(-14px);
  -moz-transform   : translateY(-14px);
  transform        : translateY(-14px);
}

nav.globalMenuSp {
  pointer-events: none;
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #656565;
  background: rgba(0,0,0,0.7);
  text-align: center;
  // width: 100%;
  width: 100px;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  width: 350px;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  width: 350px;
  transition: .4s all;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #656565;
  padding: 1em 0;
  text-decoration :none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  opacity: 100;

}

@media screen and (max-width:768px) {
  // 全体
  .top-img > img {
    width: 670px;
    height: 100px;
  }
  .link_bar > a {
    font-size: 13px;
  }
  // ヘッダー
  header {
    width: 100%;
    height: 125px;
    margin: 0;
  }
  .top-border > img {
    width: 670px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 13px;
  }
  // sns ボタン
  .sns-btn {
    display: flex;
    position: absolute;
    right: 45px;
    padding-top: 10px;
    margin: 0;
  }
  .sns-btn  li {
    font-size: 13px;
    padding: 0 15px;
  }
  // listボタン
  .list-btn {
    margin: 0;
    display: flex;
  }
  .list-btn  li {
    text-align: center;
    width: 100%;
    font-size: 13px;
  }
  .list-btn a {
    display: inline-block;
    margin-top: 30px;
    padding-bottom: 10px;
  }
  .list-btn a:hover {
    border-bottom: solid 5px #8fbc8f;
  }
  .bottom-border > img {
    width: 100%;
  }
  // フッター
  // sns ボタン
.footer-sns-btn {
  background-color: #9d896c;
  display: flex;
  position: absolute;
  right: 300px;
  margin: 0;
}
  // ゲストログイン
  .guest-login-btn {
    margin-left: 20px;
  }
  .guest-btn  {
    width: 100px;
    height: 80px;
    margin-right: 20px;
  }

  footer {
    width: 100%;
    background-color: #9d896c;
    height: 120px;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width:425px) {
  .container-fluid {
    padding: 10px 25px;
    margin: 0 auto;
  }
  body {
    font-size: 10px;
  }
  a {
    font-size: 8px;
  }
  p {
    font-size: 8px;
  }
  h2 {
    font-size: 13px;
  }
  header {
    height: 50px;
    width: 100%;
  }
  .hamburger {
    display: block;
    position: relative;
    top: 0;
    left: 10px;
  }
  .sns-btn {
    display: none;
    pointer-events: none;
  }
  .list-btn {
    display: none;
    pointer-events: none;
  }
  .c {
    width: 100%;
    height: 100px;
  }
  .top-border > img {
    width: 290px;
  }
  .top-img > img {
    width: 280px;
    height: 50px;
  }
  .bottom-border > img {
    width: 290px;
  }
  footer {
    width: 100%;
  }
  .link_bar {
    font-size: 11px;
  }
  .shelter-room-pet {
    width: 80px;
    height: 60px;
  }
  // ハンバーガー
  .globalMenuSp > a {
    pointer-events: auto;
  }
  .hamburger {
    pointer-events: auto;
  }
  nav.globalMenuSp  {
    pointer-events: auto;
    visibility: hidden;
  }
  nav.globalMenuSp.active {
    opacity: 100;
    visibility: visible;
  }
  // フッター
  .footer-middle > p {
    font-size: 7px;
  }
  .footer-middle-media428 {
    display: block;
    text-align: center;
  }
  .footer-middle-media428 p {
    background-color: #9d896c;
    color: #fff;
  }
  .footer-middle {
    display: none;
  }
  .copy-right {
    height: 10px;
    margin: 0;
  }
  .footer-list-btn {
    display: none;
  }

  .footer-list-btn-media428 {
    background-color: #9d896c;
    display: block;
    margin: 0;
    display: flex;
  }
  .footer-list-btn-media428  li {
    background-color: #9d896c;
    text-align: center;
    width: 66px;
    font-size: 8px;
  }
  .footer-list-btn-media428 a {
    display: inline-block;
    padding: 0 3px;
    margin-top: 15px;
    border-right: solid 1px #FFF;
    border-left: solid 1px #FFF;
  }
  .footer-sns-btn {
  display: none;
}
}

