// Place all the styles related to the endusers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
  margin: 0;
}

// マイページ
.enduser-profile {
  margin-top: 20px;
}
.enduser-top-profile-img {
  border: 1px solid #656565;  /* 枠線(=円形でも記述は同じ) */
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 200px;  /* 縦横を同じ値にする */
  height: 200px;  /* 縦横を同じ値にする */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
  display: inline-block;
  margin-bottom: 10px;
}
.introduction {
  text-align: center;
}
.enduser-show-post {
  text-align: center;
}
.kari {
  margin-right: 0;
}
.post-new a {
  color: #BB925A;
}
.post-new a:hover {
  color: #BB925A;
  opacity: 0.6;
}
.enduser-show-post-img {
  width: 300px;
  height: 200px;
}

// 編集
.enduser-profile input {
  height: 40px;
}

.enduser-profile .field {
  margin-bottom: 10px;
}

.enduser-post {
  margin-bottom: 20px;
}

.enduser-edit-profile-img {
  border: 1px solid #656565;  /* 枠線(=円形でも記述は同じ) */
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 200px;  /* 縦横を同じ値にする */
  height: 200px;  /* 縦横を同じ値にする */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
  display: inline-block;
  margin-bottom: 10px;
}
// 投稿数・フォロー数表示部分
.enduser-count p {
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width:768px) {
  .enduser-top-profile-img {
    border: 1px solid #656565;  /* 枠線(=円形でも記述は同じ) */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width: 60px;  /* 縦横を同じ値にする */
    height: 60px;  /* 縦横を同じ値にする */
    object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
    display: inline-block;
    margin-bottom: 10px;
  }
  .enduser-count > p {
    font-size: 13px;
  }
  .enduser-show-post-img {
    max-width: 200px;
    max-height: 140px;
  }
}

@media screen and (max-width:425px) {
 .enduser-count p {
  font-size: 8px;
  text-align: center;
}
.enduser-show-post-img {
    max-width: 95px;
    max-height: 68px;
  }
}