// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// 利用者側
.table-width-small428 {
  display: none;
}


// 管理者側
.hostuser-genre-index {
  margin: 30px 0;
}
.hostuser-genre-new {
  margin: 5px 0;
}
.hostuser-genre-edit {
  margin: 30px 0;
}
.hostuser-genre-edit-btn {
  margin: 5px 0;
}
@media screen and (max-width:768px) {
}

@media screen and (max-width:425px) {
  th {
    font-size: 8px;
    width: 25px;
  }
  td {
  font-size: 8px;
  width: 25px;
  }
  .table-width-big428 {
    display: none;
  }
  .table-width-small428 {
    display: block;
  }
}