// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hostuser-genre-index {
  margin: 30px 0;
}
.hostuser-genre-new {
  margin: 5px 0;
}
.hostuser-genre-edit {
  margin: 30px 0;
}
.hostuser-genre-edit-btn {
  margin: 5px 0;
}