// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  color: #656565;
}

h2 {
  padding-left: 10px;
  margin-top: 30px;
  border-left : solid 3px #656565;
}

.about p {
 margin: 15px 0 60px 0;
}

.guide p{
 margin: 15px 0 60px 0;
}

.shelter-room {
  margin: 10px 0;
}