// Place all the styles related to the inquiries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.enduser-inquiry-new {
  width: 60%;
  margin: 50px auto;
}

.inquiry-show {
  width: 1200px;
  height: 800px;
  background-image: image-url('inquiry-background.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.thanks {
  width: 450px;
  margin: 0 auto;
  position: relative;
  top: 150px;
  right: 200px;
  background-color: #fff;
}

.thanks p {
  background-color: #fff;
}

.thanks img {
  background-color: #fff;
}
.hostuser-inquiry-index-media-small428 {
  display: none;
}

@media screen and (max-width:768px) {
  .inquiry-show {
    width: 700px;
    height: 400px;
    background-image: image-url('inquiry-background.jpg');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .thanks > img {
    width: 400px;
    height: 50px;
    margin: 0 auto;
  }
  .thanks {
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    right: 130px;
    background-color: #fff;
  }
}

@media screen and (max-width:425px) {
  .form-group-name-top {
    margin-top: 10px;
  }
  .inquiry-show {
    max-width: 300px;
    max-height: 250px;
    background-image: none;
  }
  .thanks {
  width: 300px;
  margin: 0 auto;
  position: relative;
  top: 10px;
  left: 10px;
  background-color: #fff;
  }
  .thanks > img {
    width: 300px;
    height: 50px;
    margin: 0 auto;
  }
  .hostuser-inquiry-index-media-big428 {
    display: none;
  }
  .hostuser-inquiry-index-media-small428 {
    display: block;
  }
  .btn-outline-dark {
    font-size: 10px;
    padding: 4px;
  }
}