// Place all the styles related to the inquiries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.enduser-inquiry-new {
  width: 60%;
  margin: 50px auto;
}

.inquiry-show {
  // background-image: image-url('background-img.png');
  // background-size: contain;
  // background-repeat: no-repeat;
  width: 1200px;
  height: 800px;
  background-image: image-url('inquiry-background.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.thanks {
  width: 450px;
  margin: 0 auto;
  position: relative;
  top: 150px;
  right: 200px;
  background-color: #fff;
}

.thanks p {
  background-color: #fff;
}

.thanks img {
  background-color: #fff;
}


