// Place all the styles related to the pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com


// ゲストログイン部分
#pets-index {
  background-color: #fbfaf5;
  margin: 0 auto;
}
#pets-index > .bottom-border {
  margin-left: 30px;
}
#pets-index >　.guest-login-btn {
  padding-left: 50px;
}
#pets-edit {
  background-color: #fbfaf5;
}
#pets-new {
  background-color: #fbfaf5;
}
// 利用者側
.enduser-pet-index-now > .col-xl-2 {
  margin-top: 30px;
  margin-left: 15px;
}

.enduser-pet-index-now > .col-xl-1 {
  margin-top: 400px;
}

.enduser-pet-show-reservation-btn a {
  margin-top: 350px;
}

// 検索機能
.genre-search > a {
  margin: 5px;
}
.free-word-seach {
  margin: 15px 0;
}
.option-word-seach-span {
  display: block;
  margin-bottom: 8px;
}
.option-word-seach > select {
  margin-right: 5px;
}
.vaccine_status-seach {
  margin-bottom: 8px;
}

// 管理者側
.post i{
  margin-left: 65px;
}

.hostuser-pet-show {
  margin: 30px 0;
  height: 450px;
  width: 1100px;
}
.hostuser-pet-edit {
  margin: 0 aut;
  height: 500px;
  width: 1100px;
}
.hostuser-pet-new  > a {
  color: #BB925A;
}
.hostuser-pet-new  > a:hover {
  color: #BB925A;
  opacity: 0.6;
}
.hostuser-pet-index a {
  color: #BB925A;
}
.hostuser-pet-index a:hover {
  color: #BB925A;
  opacity: 0.6;
}
.pet-show-btn {
  margin-top: 358px;
}
.pet-edit-btn {
  margin-top: 330px;
}

.col-xl-2 li {
  margin: 8px 0;
}