// Place all the styles related to the pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com


// ゲストログイン部分
#pets-index {
  background-color: #fbfaf5;
  margin: 0 auto;
}
#pets-index > .bottom-border {
  margin-left: 30px;
}
#pets-index > .guest-login-btn {
  padding-left: 50px;
}
#pets-edit {
  background-color: #fbfaf5;
}
#pets-new {
  background-color: #fbfaf5;
}
#pets-create {
  background-color: #fbfaf5;
}
#pets-update {
  background-color: #fbfaf5;
}
// 利用者側
.enduser-pet-index-now > .col-xl-2 {
  margin-top: 30px;
  margin-left: 15px;
}

.enduser-pet-index-now > .col-xl-1 {
  margin-top: 400px;
}

.enduser-pet-show-reservation-btn a {
  margin-top: 350px;
}

// 検索機能
.genre-search > a {
  margin: 5px;
}
.free-word-seach {
  margin: 15px 0;
}
.option-word-seach-span {
  display: block;
  margin-bottom: 8px;
}
.option-word-seach > select {
  margin-right: 5px;
}
.vaccine_status-seach {
  margin-bottom: 8px;
}
// 管理者側
.post i{
  margin-left: 65px;
}

.hostuser-pet-show {
  margin: 30px 0;
  height: 450px;
  width: 1100px;
}
.hostuser-pet-edit {
  margin: 0 aut;
  height: 500px;
  width: 1100px;
}
.pet-show-btn {
  margin-top: 358px;
}
.pet-edit-btn {
  margin-top: 330px;
}

.col-xl-2 li {
  margin: 8px 0;
}

.hostuser-pet-edit-btn > input {
  margin-top: 380px;
}
.table-borderless-pet-index-media-small428 {
  display: none;
}
.hostuser-pet-show-media-small428 {
  display: none;
}

@media screen and (max-width:768px) {
  .enduser-pet-index-img {
    height: 180px;
    width: 260px;
  }
  li {
    font-size: 11px;
  }
  .btn-outline-dark {
    font-size: 9px;
  }
  .search {
      font-size: 10px;
  }
  .genre-search > a  {
    font-size: 10px;
  }
  .enduser-pet-index-reservation-btn > a {
    font-size: 10px;
  }
  .enduser-pet-show-img {
    width: 300px;
    height: 200px;
  }
  .enduser-pet-show-reservation-btn a {
    margin-top: 260px;
    font-size: 13px;
  }
  .enduser-pet-index-now > .col-xl-1 {
    margin-top: 300px;
  }
  .col-md-4 > img {
    width: 280px;
    height: 190px;
  }
  .hostuser-pet-edit {
    height: 450px;
    font-size: 10px;
  }
  #pets-edit {
    max-width: 750px;
  }
  .hostuser-pet-edit-btn > input {
  margin-top: 300px;
  }
}
@media screen and (max-width:425px) {
  .enduser-pet-index-reservation-btn > a {
    margin: 0;
  }
  select {
    width: 100px;
  }
  .vaccine_status-seach-br {
    margin-bottom: 8px;
  }
  .pet-border {
    margin-left: 20px;
  }
  .border-img {
    margin-left: 20px;
  }
  #pets-index > footer {
    width: 330px;
    margin: 0 auto;
  }
  .table-borderless-pet-index-media-big428 {
    display: none;
  }
  .table-borderless-pet-index-media-small428 {
    display: block;
  }
  .hostuser-pet-show-media-small428 {
    display: block;
  }
  .hostuser-pet-show-media-big428 {
    display: none;
  }
  .hostuser-pet-show-media-small428-img > img {
    width: 300px;
    height: 200px;
  }
  .pet-show-btn {
    margin-top: 100px;
  }
  .hostuser-pet-edit {
    height: 650px;
  }
  #pets-edit {
    margin-left: 20px;
  }
  #pet_animal_image {
    height: 30px;
  }
  .hostuser-pet-edit-btn > input {
    margin-top: 10px;
  }
  .enduser-pet-show > h3 {
    font-size: 13px;
  }
  .br::before {
  	content: "\A" ;
  	white-space: pre ;
  }
  #sex {
    margin-bottom: 7px;
  }
  #single_status {
    margin-bottom: 7px;
  }
}