// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 共通ページ
* {
  color: #656565;
}
.top-img {
 margin-bottom: 30px;
}

//indexページ
.profile-img {
  border: 1px solid #656565;  /* 枠線(=円形でも記述は) */
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 60px;  /* 縦横を同じ値にする */
  height: 60px;  /* 縦横を同じ値にする */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
  display: inline-block;
  margin-bottom: 10px;
}
.comment-profile-img {
  border: 1px solid #656565;  /* 枠線(=円形でも記述は) */
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 30px;  /* 縦横を同じ値にする */
  height: 30px;  /* 縦横を同じ値にする */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
  display: inline-block;
  margin-bottom: 10px;
}
// indexページ

h2 {
  padding-left: 10px;
  margin-top: 30px;
  border-left : solid 3px #656565;
}
.flex-box {
  display: flex;
  margin: 0;
}
// お気に入り
.flex-favorite a {
  width: 20px;
  font-size: 20px;
  position: relative;
  top: 0;
  right: 90px;
}
.flex-favorite {
  width: 0;
}
// 投稿コンテント
.flex-content {
  width: 300px;
  margin:  0 20px;
  border: 1px solid #656565;
  padding: 5px 0;
}

// コメント
.flex-comment {
  position: absolute;
  top: 160px;
  width: 300px;
}
.enduser-post-new-comment {
  position: relative;
  min-width: 310px;
  padding: 5px;
  border: 1px solid #656565;
}
.enduser-post-new-comment form  {
 position: absolute;
 top: 0;
 width: 270px;
}
.new-comment-btn {
  margin: 10px 0;
}
// newとeditページ
.content {
 height: 200px;
}
.post-edit-wrapper {
  height: 350px;
}
.prev input {
  height: 50px;
}

//画像プレビュー
.img_prev {
  height: 200px;
  // width: 300px;
}
.img_field {
  height: 200px;
  width: 300px;
}
.prev {
 height: 150px;
}


@media screen and (max-width:768px) {
  .border-img {
    width: 670px;
  }
  // .flex-box {
  //   eidth: 700px;
  // }
  .post_image {
    width: 300px;
    height: 200px;
  }
  .flex-content {
    width: 200px;
  }
  .enduser-post-new-comment {
  position: relative;
  min-width: 200px;
  padding: 5px;
  border: 1px solid #656565;
  }
  .enduser-post-new-comment > form {
    width: 140px;
    height: 120px;
    font-size: 11px;
  }
  form > input {
    font-size: 11px;
  }
  .post-comment  {
    width: 150px;
    font-size: 11px;
    margin: 0;
  }
  .flex-comment {
    width: 140px;
  }
  summary {
    font-size: 11px;
  }
  .flex-box {
    height: 350px;
  }
  #post_content {
    width: 300px;
    margin-bottom: 20px;
    margin-lrft: 100px;
  }

  #posts-edit > img {
    height: 300px;
  }
  .actions.col-md-4 {
    margin-top: 40px;
  }
 }
@media screen and (max-width:425px) {
  #posts-index {
    max-width: 330px;
  }
  .border-img {
    width: 280px;
  }
  .post-image {
    width: 280px;
    height: 190px;
  }
  .flex-box {
    height: 610px;
    display: block;
  }
  .enduser-post-new-comment {
    min-width: 280px;
    border: 1px solid #656565;
    height: 300px;
    margin-top: 10px;
  }
  .flex-content {
    width: 280px;
    height: 80px;
    margin: 0;
  }
  .flex-favorite a {
    width: 20px;
    font-size: 20px;
    position: relative;
    top: 0;
    left: 190px;
  }
  .one-post {
    height: 700px;
  }
  .img_field {
    height: 30px;
  }
  #post_content {
    width: 300px;
    margin-bottom: 20px;
  }
  .post-comment  {
    width: 270px;
    font-size: 10px;
    margin: 0;
  }
  #comment_comment {
    height: 50px;
  }
  .border-img {
    margin: 5px 0;
  }
  .prev {
    width: 300px;
    height: 200px;
    margin-bottom: 30px;
  }
  .post-edit-wrapper {
    height: 600px;
  }

}