// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-group-addon {
 padding: 3px 15px;
}
.reservation-container {
 margin-bottom: 100px;
}
.reservation-new {
 width: 600px;
}
#calendar {
 margin-bottom: 50px;
}
.enduser-reservations {
 margin-bottom: 30px;
}
.enduser-reservations-index {
 height: 300px;
 margin-top: 300px;
 padding: 15px 0;
 text-align: center;
 border: solid 1px #656565;
}
.input-group-append {
 margin-top: 10px;
}

// 予約の詳細・編集ページ
.reservation-show {
 margin: 0 15px;
}
.reservation-edit{
 width: 600px;
}
.enduser-reservation-show {
 height: 300px;
 padding-top: 120px;
}

.enduser-reservation-book a {
 color: #BB925A;
 font-size: 25px;
 opacity: 0.9;
}

.enduser-reservation-book a:hover{
 color: #BB925A;
 font-size: 25px;
 opacity: 0.6;
 transition: all 0.8s;
}

// 管理者側
.hostuser-reservation-index {
 height: 700px;
}
.hostuser-reservation-index > .col-xl-4 {
 border: solid 1px #656565;
 margin-top: 60px;
 height: 570px;
}
.hostuser-reservation-index > .col-xl-4 > p {
 text-align: center;
 font-size: 20px;
}
@media screen and (max-width:768px) {
 .enduser-reservations-index {
  margin-top: 50px;
 }
}

@media screen and (max-width:425px) {
  .link_bar > a {
    font-size: 10px;
  }
  #calendar {
    width: 320px;
  }
  .datetimepicker6 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    max-width: 250px;
  }
  .hostuser-reservation-index > .col-xl-4 {
    width: 320px;
    height: 300px;
    margin: 0 auto;
  }
}