// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-group-addon {
 padding: 3px 15px;
}
.col-xl-8 {
 display: block;
 padding-left: 0;
}

.reservation-show {
 margin: 0 15px;
}

.enduser-reservation-show {
 height: 300px;
 width: 1200px;
 padding-top: 120px;
}

.reservation-container {
 margin-bottom: 100px;
}
#calendar {
 width: 100%;
 margin-bottom: 50px;
 // margin: 0 auto;
}

.reservation-new {
 width: 500px;
}
.reservation-edit{
 width: 500px;
}


.enduser-reservations-index {
 height: 300px;
 margin-top: 298px;
 padding: 15px 0;
 text-align: center;
 border: solid 1px #656565;
}