// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-group-addon {
 padding: 3px 15px;
}
.col-xl-8 {
 display: block;
 padding-left: 0;
}

.reservation-show {
 margin: 0 15px;
}