// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.seach-btn {
 padding: 5px;
}
.enduser-pet-search {
  margin-bottom: 30px;
}

.enduser-pet-search-show > a {
  color: #BB925A;
}
.enduser-pet-search-show > a:hover {
  color: #BB925A;
  opacity: 0.7;
}