<div class="top-border"><%= image_tag('border.png', :size =>'1100x5') %></div>
<div class="top-img"><%= image_tag('top-img3.png', :size =>'1100x350', format: 'jpeg') %></div>
<div class="link_bar">
  <%= link_to "top", hostuser_homes_top_path %>
</div>
<div id="calendar"></div>